@import url('bootstrap.min.css');
@import url('all.min.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');






header .top-header .nav-link{
    font-size: 0.625rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-right: 1px solid #efefef;
    color: #858585;
    display: inline-block;
    padding: 11px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
}

header .bg-body-tertiary{
    background-color: #4a4a4a !important;
}

header .navbar .navbar-nav .nav-link{
    color: #fff;
    padding: 11px 7px 7px 7px;
    font-size: 0.75rem;
    outline: medium none;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 18px;
    font-weight: 500;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;

}

header .navbar .navbar-nav .active{
    color: #fff;

}

